body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html, #root, body{
  height: 100%;
}

.App{
  height: 100%;
  background-color: #f8f9fa;
}
.navbar-react {
  overflow: hidden;
  background-color: #5680E9;
}

.navbar-react a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-react {
  float: left;
  overflow: hidden;
}

.dropdown-react .dropbtn-react {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-react:hover .dropbtn-react, .links-react a:hover {
  background-color: #212529;
}

.dropdown-content-react {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-react a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-react a:hover {
  background-color: #ddd;
}

.dropdown-react:hover .dropdown-content-react {
  display: block;
}

.icon{
  margin-right: 15px;
  margin-top: 10px;
  height: 25px;
  width: 25px;
  color: white;
}

.icon:hover{
  cursor:pointer;
}

.title {
  margin: 0;
}
.right-side{
  float: right;
}

.fit{
  max-width: fit-content;
}

/* .item1 {
  border-top: 1px solid #dfdfdf;
  text-align: center;
  grid-column: 4 / 3;
}
.item2{
  grid-column: 12/1;
} */
.header{
  margin-bottom: 5px;
  margin-top: 5px;
}
/* .deals{
  width: 300px;
  height: 215px;
} */
/* .deals-img{
  width: 80px;
} */
.line{
  text-decoration: line-through;
}
.widthFull{
  min-width: 100%;
  max-width: 100%;
  margin: 0;
}
.padding{
  padding: 0;
}
.card-width{
  width: 200px;
}
.img{
  width: 100%;
  height: 175px;
}

@media only screen and (max-width: 800px) {
  .height{
    height: 300px;
  }
}

@media only screen and (min-width:800px) and (max-width: 1000px) {
  .height{
    height: 400px;
  }
}

@media only screen and (min-width:1000px) and (max-width: 1200px) {
  .height{
    height: 450px;
  }
}
@media only screen and (min-width:1200px) and (max-width: 1500px) {
  .height{
    height: 475px;
  }
}
@media only screen and (min-width: 1500px) {
  .height{
    height: 525px;
  }
}
