body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html, #root, body{
  height: 100%;
}

.App{
  height: 100%;
  background-color: #f8f9fa;
}
.stick{
position: sticky; top: 0;
}
.navbar-react {
  /* position: fixed; */
  overflow: hidden;
  background-color: #5680E9;
}

.navbar-react a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-react {
  float: left;
  overflow: hidden;
}

.dropdown-react .dropbtn-react {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-react:hover .dropbtn-react, .links-react a:hover {
  background-color: #212529;
}

.dropdown-content-react {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-react a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-react a:hover {
  background-color: #ddd;
}

.dropdown-react:hover .dropdown-content-react {
  display: block;
}

.icon{
  margin-right: 15px;
  margin-top: 10px;
  height: 25px;
  width: 25px;
  color: white;
}
.icon-test{
  /* margin-right: 15px;
  margin-top: 10px; */
  height: 25px;
  width: 25px;
  color: white;
}
.link-test{
  padding-right: 15px;
  padding-top: 10px;
}
.x:hover{
  cursor: pointer;
}
.icon:hover{
  cursor:pointer;
}
.title {
  margin: 0;
}
.right-side{
  float: right;
}
.fit{
  max-width: fit-content;
}
.header{
  margin-bottom: 5px;
  margin-top: 5px;
}
.line{
  text-decoration: line-through;
}
.widthFull{
  min-width: 100%;
  max-width: 100%;
  margin: 0;
}
.padding{
  padding: 0;
}
.card-width{
  width: 270px;
}
.card-home{
  width: 220px;
}
.sport-img-height{
  height: 250px;
}
.sport-card-img{
  width: 100%;
  height:200px;
}
.sport-card-height{
  height: 350px;
}
.img{
  width: 100%;
  height: 175px;
}
.max-width{
  width: 100%;
}
.card-static{
  position: static;
}
.btm-border{
  border-bottom: 5px solid white;
}
.top-border{
    border-top: 5px solid white;
}
.fit-min{
  min-width: fit-content;
}
.btn-color{
  background-color: #5680E9;
}
.max-img{
  max-width:150px;
max-height:150px;
}
.bold{
  font-weight: bold;
}
.red{
  color: red;
}
.faq-box{
  font-size:large;
  color: white; 
  background-color: #5680E9;
  width: 600px;
}
@media only screen and (max-width: 800px) {
  .height-video{
    height: 300px;
  }
  .height-image{
    height: 150px;
  }
}

@media only screen and (min-width:800px) and (max-width: 1000px) {
  .height-video{
    height: 400px;
  }
  .height-image{
    height: 175px;
  }
}

@media only screen and (min-width:1000px) and (max-width: 1200px) {
  .height-video{
    height: 450px;
  }
  .height-image{
    height: 200px;
  }
}
@media only screen and (min-width:1200px) and (max-width: 1500px) {
  .height-video{
    height: 475px;
  }
  .height-image{
    height: 250px;
  }
}
@media only screen and (min-width: 1500px) {
  .height-video{
    height: 525px;
  }
  .height-image{
    height: 275px;
  }
}

.container-progressbar{
  width:100%;
}
.progressbar{
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
}
.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width:30px;
  height: 30px;
  line-height: 30px;
  border-color: black;
  border: 3px solid;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #5680E9;
  /* border:black ; */
}
.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  top: 15px;
  left: -50%;
  /* z-index: -1; */
}
.firstStep{
  color: black;
  border-color: #5680E9;
  z-index: 1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
/* .progressbar li:before {
  border-color: green;
} */
.progressbar li.active + li:after {
  background-color: green;
}


.margin-right{
  margin-right: 50px;
}
.margin-left{
  margin-left: 300px;
}

.dialog{
  width: 400px;
  height: 400px;
  border-radius:4px;
}
.rev{
  border-radius:4px;
  width:400px;
}
.input-board{
  margin-top: 7px;
  width: 325px;
  border-radius:4px;
}
.white{
  color: white;
}

.radius{
  border-radius: 4px;
  font-size:large;
  color: white; 
  background-color: #5680E9;
  border: 3px;
  border-color: #212529;
}